body{
    background-color: lightpink;
    text-align: justify;
    background-image: url(../img/Raspberry_Pi_Logo.svg);
    background-repeat: repeat-y;
    background-size: 190px 190px;  
    background-position: 0;
     
}

@font-face {
    font-family: "prova";
    src: url("../press-start-2p.woff2") format("woff2")
}
h1 {
    font-family: "prova";
    text-shadow: 10px -10px 10px rgb(86, 163, 86);
    font-size: 50pt;
    color: rgb(1, 119, 1);
       
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: rgb(221, 107, 145);
    color: white;
    font-size: 30pt;
}

header {
    margin-left: 15%;
    margin-right: 10%;

}

.verde {
    text-decoration: overline underline 2px rgb(1, 175, 1);
}

nav {
    background-color: white;
    border-radius: 15px 15px 20px 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5px;
    
}

nav ul li{
    font-size: 20pt;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: blue;
    margin-left: 110px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}
nav ul li a:hover {
    background-color: lightsalmon;
}

p {
    font-size: 20pt;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.azul {
    color: blue;
   
}

.rojo {
    color: red;
 }

div {
    background-color: rgb(215, 151, 174);
    padding: 20px;
    border: 10px solid rgb(180, 101, 114);
    margin-left: 15%;
    margin-right: 10%;
    margin-bottom: 60px;
    margin-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 70px;

}
#uno {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    outline: 2px white solid;
    outline-offset: 5px;
    float: right;
         
}
#dos {
    outline: 2px white solid;
    outline-offset: 5px;
    margin: 30px;
    float: left;
}
#tres {
    outline: 2px white solid;
    outline-offset: 5px;
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    float: right;
}

hr {
    margin-left: 25%;
    margin-bottom: 10px;
    width: 50%;
    border: 10px solid rgb(180, 101, 114);
    border-radius: 5px 5px 10px 10px;
}
footer{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 10%;
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
}
.flecha{
    margin-left: 20px;
}
